.content {
    padding: toRem(16);
}

.trigger {
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1;
    width: 35px;
    border-radius: 100%;

    background: var(--color-background-alt);
}
