# 1. Create .env file in root directory of project
# 2. Insert this fields to your file
# 3. Replace placeholders with your data

# Database
DB_NAME=NAME
DB_USER=USER
DB_PASSWORD=PASSWORD
DB_HOST=db
DB_PORT=5432

# Frontend
VITE_BACKEND_URL=http://localhost:3000/api
# 1 - to install frontend precommit
# 0 - to don`t install frontend precommit
FRONTEND_LINTING=
# production / development (develop - for frontend developers ONLY)
MODE=

# Django
DJANGO_ALLOWED_HOSTS=localhost
SECRET_KEY=KEY
DJANGO_DEBUG=1
BACKEND_PREFIX=/
ALLOWED_ORIGINS=http://localhost:3000,https://localhost:3000,http://localhost:8000,http://localhost:9999

# Bot
TOKEN=super_secret_token
WEB_APP_URL=your_https_url
# true - to run app into tg production
# false - to run app locally
IN_TG_ENVIRONMENT=false
# Value from tg environment. In console Telegram.WebApp.initData
TG_INIT_DATA=your_init_data
