# Database
DB_NAME=DB_NAME
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
DB_HOST=DB_HOST
DB_PORT=DB_PORT

# Webapp backend
VITE_BACKEND_URL=your_url
FRONTEND_LINTING=0

# Django
DJANGO_ALLOWED_HOSTS=localhost
SECRET_KEY=KEY
DJANGO_DEBUG=1

# Bot
TOKEN=YOUR_TOKEN
WEB_APP_URL=YOUR_URL