# 1. Create .env file in root directory of project
# 2. Insert this fields to your file
# 3. Replace placeholders with your data

# Database
DB_NAME=DB_NAME
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
DB_HOST=db
DB_PORT=5432

# Frontend
VITE_BACKEND_URL=your_url
# 1 - to install frontend precommit
# 0 - to don`t install frontend precommit
FRONTEND_LINTING=
MODE=

# Django
DJANGO_ALLOWED_HOSTS=localhost
SECRET_KEY=KEY
DJANGO_DEBUG=
BACKEND_PREFIX=/
ALLOWED_ORIGINS=http://localhost:3000,https://localhost:3000,http://localhost:8000,http://localhost:9999

# Bot
TOKEN=YOUR_TOKEN
WEB_APP_URL=YOUR_URL
