:root {
    // COLOR
    --color-background: #0d0714;
    --color-background-alt: #191b1e;
    --color-accent: #4130a9;
    --color-main: #0a0064;
    --color-text-main: #fff;
    --color-border: #777;
    --color-placeholder: #aaa;

    // FONT SIZE
    // IMPORTANT: cant use toRem in properties!!!
    --text-large: calc(16 / 16 * 1rem);
    --text-normal: calc(14 / 16 * 1rem);
    --text-small: calc(12 / 16 * 1rem);
    --h1-font-size: calc(24 / 16 * 1rem);
    --h2-font-size: calc(20 / 16 * 1rem);
    --h3-font-size: calc(18 / 16 * 1rem);
    --h4-font-size: calc(16 / 16 * 1rem);
    --ui-large: calc(18 / 16 * 1rem);
    --ui-normal: var(--text-large);
    --ui-small: var(--text-small);

    // GAPS
    --main-section-gap: 15px;

    // SIZES
    --card-width: calc(150 / 16 * 1rem);
    --max-content-size: 800px;

    // PADDING / OFFSET
    --site-padding-x: 100px;

    // FONT
    --font-family-main: "Space Grotesk", sans-serif;
    --font-style: normal;
    --line-height: 1;
    --font-size: 16px;

    // DECORATIONS
    --border: 1px solid var(--color-main);
    --box-shadow: 1 1 var(--color-dark);
    --border-radius: 10px;

    // ANIMATIONS
    --transition-duration: 0.2s;

    // MEDIA
    // @include tablet {  }
    // @include mobile {  }
}
