.textareaGroup {
    display: flex;
    flex-direction: column;
    gap: toRem(5);
}

.label {
    font-size: toRem(20);
}

.textarea {
    padding: toRem(7);
    border: 1px solid var(--color-border);
    border-radius: 5px;

    &::placeholder {
        font-size: toRem(16);
        font-weight: bold;
        color: var(--color-placeholder);
    }
}
