VITE_BACKEND_URL=http://localhost:3000/api
# true - to run app into tg production
# false - to run app locally
VITE_IN_TG_ENVIRONMENT=false
# Field that can find in Telegram.Webapp.initData
VITE_TG_INIT_DATA=telegramInitData
