.inputGroup {
    display: flex;
    flex-direction: column;
    gap: toRem(5);
}

.label {
    font-size: toRem(20);
}

.input {
    padding: toRem(7);
    border: 1px solid var(--color-border);
    border-radius: 5px;

    font-size: toRem(16);
    font-weight: bold;

    &::placeholder {
        font-size: toRem(16);
        font-weight: bold;
        color: var(--color-placeholder);
    }
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.inputWrapper input {
    width: 100%;
    padding-left: toRem(40);
}

.icon {
    pointer-events: none;

    position: absolute;
    left: toRem(12);

    width: 18px;
    height: 18px;
}
