.profile {
    display: flex;
    flex-direction: column;
    gap: toRem(15);
}

.avatar {
    min-width: 310px;
    min-height: 310px;
    border-radius: toRem(8);
}

h2 {
    font-size: toRem(20);
    font-weight: bold;
}

.main {
    display: flex;
    flex-direction: column;
    gap: toRem(8);
}

.mainTitle {
    margin: 0 0 toRem(2);
}
