.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    max-width: toRem(500);
    margin: 0 auto;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.select {
    padding: toRem(5);
    border: toRem(1) solid #272626;
    border-radius: toRem(4);
}

.button {
    display: flex;
    margin: 0 auto;
}
