.form {
    display: flex;
    flex-direction: column;
    gap: toRem(15);
    padding: 0 0 calc(2 * var(--site-padding-y) + 2 * 66px);
}

.label {
    font-size: var(--ui-normal);
    font-weight: bold;
}

.buttons {
    position: fixed;
    bottom: toRem(15);
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: toRem(10);

    width: 100%;
    padding: 0 toRem(5) calc(2 * var(--site-padding-y) + 66px);
}

.btn {
    display: flex;
    flex: 1;

    font-size: var(--ui-normal);
    font-weight: bold;
    color: var(--color-text-main);

    background-color: var(--color-background-alt);
}

.accent {
    background-color: var(--color-accent);
}
