.heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    .link {
        color: var(--color-accent);
    }
}

.mapImage {
    align-self: flex-start;
}
