.title {
    margin-bottom: toRem(15);
    font-size: toRem(24);
    font-weight: bold;
}

.profile {
    margin-bottom: toRem(30);
}

.editButton {
    display: flex;

    font-size: toRem(16);
    font-weight: bold;
    color: var(--color-text-main);

    background-color: var(--color-accent);
}

.container {
    width: 100%;
    min-width: 320px;
    max-width: 100vw;
    padding: 0 toRem(5);
}
