.label {
    font-size: toRem(20);
}

.select {
    padding: toRem(7);
    border: 1px solid var(--color-main-alt);
    border-radius: 5px;

    font-size: var(--ui-normal);
    font-weight: bold;

    &::placeholder {
        font-size: toRem(16);
        font-weight: bold;
        color: var(--color-disabled);
    }
}

.selectGroup {
    display: flex;
    flex-direction: column;
    gap: toRem(5);
}
